<div class="blog-post">
  <%= render partial: 'blogs/admin_actions', locals: {blog: blog} %>
  <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog %></h2>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at - Time.now) %></p>

  <p><%= markdown(truncate(blog.body, length: 300)) %></p>
</div>
