<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Simon Reilly</h3>
    <nav class="nav nav-masthead justify-content-center">
      <%= nav_helper 'nav-link mx-2', 'span' %>
      <%= login_helper('nav-link span') %>
    </nav>
  </div>
</header>