
<h1 class="cover-heading">About me</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= image_tag 'profile.jpeg', alt: 'profile image', class: 'img-fluid img-thumbnail' %>
  </div>
  <div class="col-md-8">
    <p class="">
      As a web developer and engineer I have years of experience.
      But before I set out on this path I was a working professional at a large company.
    </p>
    <p>
      I know what software experiences mean to a company, and I know how they impact the bottom line.
    </p>
    <p class="">
      I operate a customer driven development method that puts your requirements first.
    </p>
  </div>
</div>
