<h1 class="cover-heading">Would you like to work together?</h1>
<div class="row">
  <div class="col-md-6">
    Contact: Simon
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d71502.93061666733!2d-3.2753780220067092!3d55.94128462747792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887b800a5982623%3A0x64f2147b7ce71727!2sEdinburgh!5e0!3m2!1sen!2suk!4v1520177736384"
            width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

